<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="h1 db title"><span jhiTranslate="dashboard.title">FIRY</span></h1>
      <h1 class="h1 db subtitle">
        <span jhiTranslate="dashboard.subtitle">ANALYSE DES HISTORIQUES DE NAVIGATION SUR FIREFOX</span>
      </h1>
      <div class="row">
        <div class="col-md-3">
          <div style="display: block;">
            <canvas [chartType]="'line'" [colors]="lineChartColors" [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [legend]="lineChartLegend"
                    baseChart
                    height="400"
                    width="400">
            </canvas>
          </div>
        </div>
        <div class="col-md-3">
          <div style="display: block;">
            <canvas [chartType]="'bar'" [datasets]="lineStackData"
                    [labels]="lineStackLabels"
                    [legend]="lineStackLegend"
                    baseChart
                    height="400"
                    width="400">
            </canvas>
          </div>
        </div>
        <div class="col-md-3">
          <div style="display: block;">
            <canvas [chartType]="'doughnut'"
                    height="400"
                    [datasets]="pieData"
                    [labels]="pieLabels"
                    baseChart
                    width="400">
            </canvas>
          </div>
        </div>
        <div class="col-md-3">
          <div style="display: block;">
            <canvas [chartType]="'bubble'"
                    [datasets]="wordData"
                    [labels]="wordLabels"
                    [legend]="wordLegend"
                    baseChart
                    height="400"
                    width="400">
            </canvas>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card info m-2" style="width: 30rem;">
          <div class="card-body">
            <h5 class="card-title">Informations</h5>
            <span class="card-text">Dernière mise à jour : </span><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
