<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <span jhiTranslate="home.question">Si vous avez des questions sur Firy écrivez-nous à </span>
          <a href="mailto:savacano_28@live.com" jhiTranslate="home.link.email" rel="noopener noreferrer" target="_blank"
          >savacano_28@live.com</a>
        </div>
        <div class="col-md-6">
          <p class="copyright">CASANOVA © 2021</p>
        </div>
        <div class="col-md-3">
          <p>
            <span jhiTranslate="home.like">If you like JHipster, don't forget to give us a star on</span>
            <a href="https://github.com/savacano28/awesome-plugin-analyse-historique-firefox" jhiTranslate="home.github" rel="noopener noreferrer"
               target="_blank"
            >GitHub</a
            >!
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>
