<div class="row">
  <div class="col-md-3">
  </div>

  <div class="col-md-6">
    <h1 class="display-4"><span jhiTranslate="home.title">FIRY</span></h1>

    <p class="lead" jhiTranslate="home.subtitle">ANALYSE DES HISTORIQUES DE RECHERCHE SUR FIREFOX</p>

    <div [ngSwitch]="account !== null">
      <div *ngSwitchCase="true" class="alert alert-success">
        <span *ngIf="account" [translateValues]="{ username: account.login }" id="home-logged-message" jhiTranslate="home.logged.message"
        >You are logged in as user "{{ account.login }}".</span
        >
      </div>

      <div *ngSwitchCase="false" class="alert alert-warning">
        <span jhiTranslate="global.messages.info.register.noaccount">Vous n'avez pas encore de compte ? </span>&nbsp;
        <a class="alert-link" jhiTranslate="global.messages.info.register.link" routerLink="account/register">Enregistrer un nouveau compte</a>
      </div>
    </div>

    <p jhiTranslate="home.question">Si vous avez des questions sur Firy écrivez-nous à </p>

    <ul>
      <li>
        <a href="mailto:savacano_28@live.com" jhiTranslate="home.link.email" rel="noopener noreferrer" target="_blank"
        >savacano_28@live.com</a
        >
      </li>
    </ul>

    <p>
      <span jhiTranslate="home.like">If you like JHipster, don't forget to give us a star on</span>
      <a href="https://github.com/savacano28/awesome-plugin-analyse-historique-firefox" jhiTranslate="home.github" rel="noopener noreferrer"
         target="_blank"
      >GitHub</a
      >!
    </p>
  </div>

  <div class="col-md-3">
  </div>
</div>
