<div class="row">
  <div class="col-md-12">
    <h1 class="h1 home title"><span jhiTranslate="home.title">FIRY</span></h1>
    <h1 class="h1 home subtitle">
      <span jhiTranslate="home.subtitle">ANALYSE DES HISTORIQUES DE NAVIGATION SUR FIREFOX</span>
    </h1>
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-3">
        <div class="card text-center border-light text-white bg-info mb-5" style="width: 25rem; height: 25rem">
          <div class="card-body">
            <h5 class="card-title">Quoi ?</h5>
            <p class="card-text"><br><br><br>Firy est un outil d'analyse des historiques de navigation sur firefox en temps réel.<br><br><br><br><br>
            </p>
            <a class="btn btn-primary" href="#">Plus d'info</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center border-light bg-light mb-5" style="width: 35rem; height: 25rem">
          <div class="card-body">
            <h5 class="card-title">Comment ?</h5>
            <br>
            <p><img alt="Card image cap" class="card-img-top" height="180" src="../../content/images/archi.png" width="100">
            </p>
            <br>
            <a class="btn btn-primary" href="#">Voir l'architecture</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center border-light text-white bg-dark mb-5" style="width: 25rem; height: 25rem">
          <div class="card-body">
            <h5 class="card-title">Pourquoi ?</h5>
            <p class="card-text"><br><br><br>Firy aide à connaître les habitudes de navigation sur le web.<br><br><br><br><br></p>
            <a class="btn btn-primary" href="#">Plus d'info</a>
          </div>
        </div>
      </div>
      <div class="col-md-1">
        <!-- <span class="alert alert-success" *ngIf="account" [translateValues]="{ username: account.login }" id="home-logged-message" jhiTranslate="home.logged.message">
       Vous êtes connecté en tant qu'utilisateur  "{{ account.login }}".</span>-->
      </div>
    </div>
  </div>
</div>
